<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Curva de Aluguel</title>

		<script src="../bower/angular/angular.js" charset="utf-8"></script>
		<script src="../bower/angular-material/angular-material.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../bower/angular-material/angular-material.css">

		<script src="../bower/angular-animate/angular-animate.js" charset="utf-8"></script>
		<script src="../bower/angular-aria/angular-aria.js" charset="utf-8"></script>
		<script src="../bower/angular-messages/angular-messages.js" charset="utf-8"></script>

		<script src="../bower/chart.js/dist/Chart.js" charset="utf-8"></script>
		<script src="../bower/angular-chart.js/dist/angular-chart.js" charset="utf-8"></script>

		<script src="../js/app.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../css/styles.css">
	</head>
	<body ng-app="app">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
			<h2>
				<span>Curva de Aluguel</span>
			</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Mais opções">
				<i class="material-icons">more_vert</i>
			</md-button>
			</div>
		</md-toolbar>

		<md-content layout
		layout-xs="column"
		 layout-margin>

			<!-- Inputs de configurações -->
			<div class="md-whiteframe-3dp" flex-xs="50" flex-gt-xs="50" flex-gt-md="40" ng-controller="configs">
				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
					<h3>Configurações</h3>
					<span flex></span>
					<md-button class="md-icon-button" aria-label="Preencher padrão" ng-click="fill()">
						<i class="material-icons">sync</i>
						<md-tooltip>Preencher padrão</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" aria-label="Limpar campos" ng-click="clear()">
						<i class="material-icons">clear_all</i>
						<md-tooltip>Limpar campos</md-tooltip>
					</md-button>
					</div>
				</md-toolbar>

				<div layout="column" layout-margin layout-padding>
					<h4>Atual</h4>
					<div layout layout-wrap layout-padding>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Aluguel</label>
			            	<input ng-model="atual.valor" placeholder="1200.5">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>IPTU</label>
			            	<input ng-model="atual.iptu" placeholder="600.8">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Condomínio</label>
			            	<input ng-model="atual.condominio" placeholder="120.9">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Incêndio</label>
			            	<input ng-model="atual.incendio" placeholder="700.4">
			          	</md-input-container>
					</div>

					<h4>Desejado</h4>
					<div layout layout-wrap layout-padding>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Aluguel</label>
			            	<input ng-model="desejado.valor" placeholder="1200.5">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>IPTU</label>
			            	<input ng-model="desejado.iptu" placeholder="600.8">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Condomínio</label>
			            	<input ng-model="desejado.condominio" placeholder="120.9">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25" flex-xs="50">
			            	<label>Incêndio</label>
			            	<input ng-model="desejado.incendio" placeholder="700.4">
			          	</md-input-container>
					</div>

					<h4>Adicional</h4>
					<div layout layout-wrap layout-padding>
						<md-input-container class="md-block" flex="25">
			            	<label>Mudança</label>
			            	<input ng-model="add.mudanca" placeholder="1200.5">
			          	</md-input-container>
						<md-input-container class="md-block" flex="25">
			            	<label>Pintura</label>
			            	<input ng-model="add.pintura" placeholder="600.8">
			          	</md-input-container>
						<md-input-container class="md-block" flex="50">
			            	<label>Tempo contrato</label>
			            	<input ng-model="add.tempo" placeholder="30">
			          	</md-input-container>
						<md-input-container class="md-block" flex>
			            	<label>Prestações IPTU/Incêndio</label>
			            	<input ng-model="add.prestacoes" placeholder="10">
			          	</md-input-container>
					</div>

					<md-button class="md-raised md-primary">Gerar</md-button>
				</div>
			</div>

			<!-- Gráficos de projeção -->
			<div class="md-whiteframe-3dp" flex-xs="50" flex-gt-xs="50" flex-gt-md="60" ng-controller="charts">
				<md-toolbar class="md-accent">
					<div class="md-toolbar-tools">
					<h3>Projeção</h3>
					<span flex></span>
					</div>
				</md-toolbar>

				<div layout="column" layout-padding layout-align="center center">
					<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick">
					</canvas>
				</div>
			</div>

		</md-content>
	</body>
</html>
